* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

#header {
    padding: 15px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: head 2s alternate;
}

@keyframes head {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-logo {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.header-nav {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: black;
    padding: 0 15px;
}

.header-btn {
    padding: 7px 25px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid white;
    transition: .4s;
}

.header-btn:hover {
    border: 1px solid black;
    border-radius: 10px;
}

#hero {
    background: #121118;
    padding-top: 100px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 63px;
    color: white;
    text-align: center;
    animation: title 2s alternate;
    margin-bottom: 30px;
}

@keyframes title {
    0% {
        transform: translateX(-1200px);
    }
    50% {
        color: red;
    }
    100% {
        transform: translateX(0);
    }

}

.hero-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: gray;
    text-align: center;
    animation: dasc 2s alternate;
    margin-bottom: 50px;

}

@keyframes desc {

    0% {
        transform: translateX(1000px);
    }
    50% {
        color: orangered;
    }
    100% {
        transform: translateX(0);
    }
}

.hero-bnt {
    width: 281px;
    height: 66px;
    background: #FF4343;
    border-radius: 8pX;
    border: none;

    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;

}

.hero-item {
    color: grey;
    font-family: "Roboto", sans-serif;

}

.hero-gen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: gen 2s alternate;
}

@keyframes gen {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.hero-images {
    display: flex;
    justify-content: center;
}

.hero-img {
    position: absolute;
    right: 320px;
    animation: img 2s alternate;
}

.hero-img2 {
    animation: img2 2s alternate;
}

@keyframes img {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes img2 {
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(0);
    }
}

#shoot {
    background:#121118;
    padding-top: 100px;
}

.shoot {
    display: flex;
    justify-content: space-between;
}

.shoot-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 58px;
    color: #ffffff;
    margin-bottom: 35px;
    animation: shoot-title 2s alternate;
}

@keyframes shoot-title {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.shoot-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: gray;
    animation: shoot-item 2s alternate;
}

@keyframes shoot-item {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.shoot-images {
    display: flex;
    justify-content: center;
}

.shoot-img1 {
    position: absolute;
    right: 150px;
    animation: shoot-img1 2s alternate;
}

@keyframes shoot-img1 {
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(0);
    }
}

.shoot-img2 {
    animation: shoot-img2 2s alternate;
}


#enrich {
    background: #121118;
    padding-top: 100px;
}

.enrich-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 58px;
    color: white;
    margin-bottom: 35px;
    animation: enrich-title 2s alternate;
}

.enrich-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: gray;
    animation: enrich-item 2s alternate;
}

.enrich {
    display: flex;
    justify-content: space-between;
}

.enrich-img2 {
    position: absolute;
    left: 200px;
}

.enrich-images {
    animation: enrich-images 2s alternate;
}

#add {
    background: #121118;
    padding-top: 100px;
}

.add-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: white;
    margin-bottom: 35px;
    animation: add-title 2s alternate;
}

.add-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: gray;
    animation: add-item 2s alternate;
}

.add-img {
    animation: add-img 2s alternate;
}

.add {
    display: flex;
    justify-content: space-between;
}

#lessons {
    background: #121118;
    padding-top: 100px;
}

.lessons-img {
    position: absolute;

}

.lessons-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 58px;
    color: white;
    margin-bottom: 35px;
}

.lessons-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: gray;
}

.lessons-item2 {
    color: white;
}

.lessons {
    display: flex;
    justify-content: space-between;
}

#best {
    background: #121118;
    padding-top: 100px;
}
.best-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 61px;
    color: white;
    text-align-last: center;
    margin-bottom: 80px;
}
.with{
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin-left: 39rem;
    margin-bottom: 35px;
}
.best-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color:#FFFFFF80;
    text-align-last: center;
}
.best-block{
    background: #000;
    width: 251px;
    height: 452px;
    border-radius: 10px;
}
.best-block h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align-last: center;
    padding: 20rem 10px 0 10px;
    margin-bottom: 10px;
}
.best-block h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.best-block p {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
}
.best-img {
    position: absolute;
    top: 231rem;
    transition: 2s;
}
.best-img:hover{
    opacity: .6;
}
.best-gen{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#offer{
    background: #121118;
    padding-top: 100px;
}
.offer-desc2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);;
    margin-bottom: 100px;
}
.offer-desc1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #8BFFB0;
}
.offer-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 58px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}
.offer-img{
    display: flex;
    justify-content: center;
    animation: img 4s infinite;
}
@keyframes img {
    0%{
        opacity: 1;
    }
   50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }

}
#what {
    background: #121118;
    padding-top: 100px;
}
.what-block{
    height: 433px;
    background: #1D1B24;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.what-block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 63px;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}
.what-block p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: gray;
    margin-bottom: 80px;
    text-align: center;
}
.what-btn {
    width: 281px;
    height: 66px;
    background: #FF4343;
    color: white;
    border-radius: 8pX;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}
.what-btn:hover{
    transform: scale(1.1);
}

.what-can h1 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 35px;
}
.what-can p {
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.7);;
}
.what-can {
    background: url("../img/can.png") no-repeat center/cover;
    height: 432px;
    width: 1520px;
    position: relative;
    left: -190px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
#course{
    background: #0A0A0A;
    padding-top: 100px;
}
.course-title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 58px;
    color: #ffffff;
    margin-bottom: 100px;
}
.course-smoe h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: white;
    margin-bottom: 25px;
}
.course-smoe p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
}
.course-img{
    position: relative;
}
.course-smoe{
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
}
.course-green{
    width: 650px;
    height: 449px;
    border-radius: 10px;
    background: #85E9A5;
    display: flex;
    margin: 0 40px;
}
.course-block{
    padding-top: 30px;
    padding-left: 25px;
}
.course-green h6{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #95FEC1;
    margin-bottom: 30px;
}
.course-block h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: white;
    margin-bottom: 23px;
}
.course-block p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    width: 300px;
}
.course-block h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: white;
    position: absolute;
    top: 438rem;
    right: 850px;
}
.course-gen{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#footer{
    background: #000;
    padding-top: 300px;
    padding-bottom: 100px;
}
.footer-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.footer-gen h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.footer-icons {
    color: #ffffff;
    position: absolute;
    padding: 0 10px;
    left: 1400px;
    font-size: 25px;
}
.footer-general{
    display: flex;
    justify-content: space-between;
}
.container1{
    width: 1400px;
    margin: 0 auto;
}
.footer{
    display: flex;
    justify-content: space-around;
}